<% layout('layouts/boilerplate')%>

    <div id="cluster-map"></div>

    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>
    <% for (let campground of campgrounds){%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">

                    <!-- fixing our seeds if we dont upload any image -->
                    <%if(campground.images.length) {%>
                        <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                        <% }else {%>
                            <img class="img-fluid" alt=""
                                src="https://res.cloudinary.com/dd6eufkzk/image/upload/v1624620047/YelpCamp/wbzbwrjnivc5mmvyz8zk.jpg">
                            <% } %>

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location%>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>
            <script>
                const mapToken = '<%-process.env.MAPBOX_TOKEN%>';

                //did the next two lines in one line
                // const campground = '<%- JSON.stringify(campgrounds) %>';
                // const campgrounds = { features: JSON.parse(campground) };

                const campgrounds = { features: JSON.parse('<%- JSON.stringify(campgrounds) %>') }

                //not in the video,did this as json.stringify was not working without quotes so to convert string to object
                //also we need the data in a specific format like here features: as our cluster map is set like this

            </script>

            <script src="/javascripts/clusterMap.js"></script>